<div class="container-body no-min-height" data-controller="sections">
  <div class="text-center">
    <h1 class="Title" style="color:#7041ee; margin-top:32px; margin-bottom:32px;"><%= @party.name %></h1>
  </div>

  <%= render "shared/party_theme_details" %>
</div>



<%# <script src="https://open.spotify.com/embed-podcast/iframe-api/v1" async></script>
<script>
window.onSpotifyIframeApiReady = (IFrameAPI) => {
  let element = document.getElementById('embed-iframe');
  let options = {
      uri: 'spotify:episode:7makk4oTQel546B0PZlDM5'
    };
  let callback = (EmbedController) => {};
  IFrameAPI.createController(element, options, callback);
};
</script> %>


<%# source - @parties.playlist %>
