<%# last question %>
<div data-create-booking-target="address_question">
  <p>Where will the party be hosted?</p>
  <%= f.input :address %>
  <%= f.button :submit, 'I want to have this party!', class: 'btn btn-primary' %>
</div>
