<div data-create-booking-target="has_mocktail_question">
  <p>Does your group have anyone who doesn't drink alcohol?</p>
  <%= f.input :has_mocktails %>
  <%# button for navigation %>
  <button type="button">Previous Question</button>
  <button type="button">Next Question</button>
</div>
