<%# <p>What mood are you feeling?</p>
<%# 1. see database to see which field of Bookings this is meant to be filling %>
<%# 2. define for answers %>
<%# <%= f.input :category %>
<%# button for navigation %>
<%# <button type="button">Previous Question</button> %>
<%# <button type="button">Next Question</button> %>
