<%# First Question to be displayed%>
<div>
  <p> When will your party start and finish? </p>
  <%= f.input :starts_at, as: :date, html5: true %>
  <%= f.input :ends_at, as: :date, html5: true %>
  <%# needs to be done as a calendar later %>

  <%# button for navigation %>
  <button type="button">Next Question</button>
</div>
