
<div class="menu fixed-bottom" style="border-radius: 24px 24px 0px 0px;">
  <%= link_to root_path do %>
    <i class="fa-solid fa-house"></i>
  <% end %>
  <%= link_to parties_path do %>
    <i class="fa-solid fa-martini-glass"></i>
  <% end %>
  <%= link_to profile_path do %>
    <i class="fa-solid fa-regular fa-user"></i>
  <% end %>
</div>
