<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="menu fixed-bottom">
  <a class="active" href="#"><i class="fa-solid fa-house-chimney"></i></a>
  <a href="#"><i class="fa-solid fa-champagne-glasses"></i></a>
  <a href="#"><i class="fa-solid fa-calendar-days"></i></a>
</div>
