
<div class="menu fixed-bottom">
  <a class="active" href="#"><i class="fa-solid fa-house-chimney"></i></a>
  <a href="#"><i class="fa-solid fa-champagne-glasses"></i></a>
  <a href="#"><i class="fa-solid fa-calendar-days"></i></a>
</div>
