
<div class="menu fixed-bottom">
  <a class="active" href="#"><i class="fa-solid fa-house"></i></a>
  <a href="#"><i class="fa-solid fa-martini-glass"></i></a>
  <a href="#"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
</div>
