<nav class="navbar navbar-expand-lg navbar-light bg-transparent" style="padding-top: 20px;">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand mx-auto" do %>
      <%= image_tag "logo_main.svg", width: 72 %>
    <% end %>
  </div>
</nav>


<%# ---------------OLD NAVBAR CODE - WITHOUT ITEMS----------- %>
<%# <div class="navbar navbar-expand-sm navbar-light navbar-lewagon" style="margin-bottom:40px">
  <div class="container-fluid">
    <%= link_to "/", class: "navbar-brand" do %>
      <%# <%= image_tag "logo.png" %>
    <%# <% end %>

    <%# <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> %>
      <%# <span class="navbar-toggler-icon"></span> %>
    <%# </button> %>
    <%# <div class="collapse navbar-collapse" id="navbarSupportedContent"> %>
      <%# <ul class="navbar-nav me-auto"> %>
      <%# </ul> %>
    <%# </div> %>
  <%# </div> %>
<%# </div> %>
