<div data-parties-target="partyInfo" id="info" style="text-align:center">

  <p><%= party.emoji %></p>
  <p><%= party.description %></p>
  <p><%= raw party.playlist %></p>
  <p><%= raw party.pinterest %></p>
</div>
