.main-button {
  margin-bottom: 8px;
}

.second-button{
  // width: 56px;
  margin-bottom: 10vh;
}

ul {
  list-style-type: none;
}

.card-body img {
  object-fit: cover;
}

.card-body-text {
  overflow: hidden;
  margin:24px;
  text-align:center;
}

.card-body-info {
  text-align:center;
}
