
.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  border-radius: 5px;
}

.card{
  background-color: transparent;
  // transition: top 2s ease;
  // top: unset;
}

.cards {
  display: grid !important;
  grid-template-columns: 1fr 1fr !important;
  grid-gap: 16px !important;
  position: relative;
  padding: 5px;
  // margin-top: 10px;

}

a{
  color: white;
  text-decoration: none;
}

a:hover{
  // color: rgb(194, 88, 255);
  color: #CBC3E3,
}

h2{
  text-align: center;
}

.profile_card {
  color: black;
  max-width: 200px;
  margin-right: 16px;
}

// ------------------- CARDS FOR BOOKINGS#SHOW PAGE ---------------------

.date_card {
  // position: relative;
  left: 29.5px;
  top: 226px;
  background-color: #ABA5FF;
  padding: 15px;
  border-radius: 20px;
  padding-right: 0px;

  /* Main Shadow */
  filter: drop-shadow(0px 16px 60px rgba(78, 79, 114, 0.08));
}

.date_details {
  // position: absolute;
  padding: 20px;
  height: auto;
  left: 39.76px;
  top: 235.5px;
  // background-color:#6C60FF;
  background-color: $dark-purple;
  color: white;
  border-radius: 20px;

  /* Main Shadow */
  filter: drop-shadow(0px 16px 60px rgba(78, 79, 114, 0.08));
}

// to make the edit icon centered
.col-2.text-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// ----------------------TO DO LIST, done with ACCORDION--------------------------
.accordion {
  background-color: #fff;
  border-radius: 20px;

  /* Main Shadow */
  filter: drop-shadow(0px 16px 60px rgba(78, 79, 114, 0.08));
}

.accordion-item button.accordion-button:not(.collapsed) {
  margin-top: 10px;
  background-color: $dark-purple;
  color: white;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

#accordionTop.accordion-item button.accordion-button:not(.collapsed) {
  margin-top: 0;
}

/* when headingOne is collapsed */
#headingOne.collapsed {
  /* your styles here */
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

// style for accordion button when not clicked
.accordion-item button.accordion-button.collapsed {
  background-color: #d5c8f7;
  color: black;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.accordion-item button.accordion-button:not(.collapsed)::after {
  color: purple;
}

.accordion-item button.accordion-button.collapsed::after {
  color: orange;
}

.accordion-body {
  background-color: white;
}

// Sets a 2px white border and 5px border-radius for each accordion item.
.accordion-item {
  border: 2px solid #fff;
}

#accordionTop {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

// Removes the default border of the accordion button.
.accordion-button {
  border: none;
}

// Hides the default arrow icon that appears before the accordion button text.
// .accordion-header button::before {
//   display: none;
// }

// Hides the default arrow icon that appears after the accordion button text.
// .accordion-header button::after {
//   display: none;
// }

.booking-card {
  min-width: 200px;
  height: 250px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
}
