
.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}


.cards {
  display: grid !important;
  grid-template-columns: 1fr 1fr !important;
  grid-gap: 16px !important;
  position: relative;
  padding: 5px;
  margin-top: 10px;
}

a{
  color: white;
  text-decoration: none;
}

a:hover{
  color: salmon;
}

h2{
  margin-top: 30%;
  text-align: center;
}
