// this page hosts CSS classes related to the logo-like elements and their placing along the app

// For booking confirmation page exclusively
.confirmation-background {
  position:fixed;
  bottom: -25vh;
  left: -77vw;
  z-index: -1;
}

//home page
.home-background {
  position:fixed;
  top: -35vh;
  left: -77vw;
  z-index: -1;
}
