.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  color: #6C60FF;
  text-align: center;
  // #change fonts
  font-family: "Inter", sans-serif;
}

.mapboxgl-ctrl-geocoder {
  .mapboxgl-ctrl-geocoder--icon {
    display: none;
  }

  input {
    border-radius: 20px;
    padding: 20px;
    background-color: #ABA5FF;
    border: 1px solid gray;

    &::placeholder {
      color: transparent;
    }
  }

  .mapboxgl-ctrl-geocoder--pin-right {
    display: none;
  }

  .suggestions {
    // border: 1px solid black;
    li {
      border-bottom: 1px solid #7041EE;
      margin-top: 20px;
      padding-bottom: 20px;
    }
    margin-top: 20px;
  }
}
