.menu {
  width: 100%;
  background-color: white;
  overflow: auto;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  justify-content: space-around;
  padding: 32px;
}

/* Navbar links */
.menu a {
  text-align: center;
  color: black;
  text-decoration: none;
  font-size: 14px;
}

/* Navbar links on mouse-over */
// .menu a:hover {
//   background-color: #333333;
// }

.fa-solid {
  font-size: 20px;
  margin-left: 8px;
  color: #333333;
}
/* Current/active navbar link */
// .active {
//   background-color: #04AA6D;
// }

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
// @media screen and (max-width: 500px) {
//   .menu a {
//     float: none;
//     display: block;
//   }
// }
