.menu {
  width: 100%;
  background-color: white;
  overflow: auto;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  justify-content: space-around;
  padding: 32px;
}

/* Navbar links */
.menu a {
  text-align: center;
  color: black;
  text-decoration: none;
  font-size: 14px;
}

// .menu a:hover {
//   background-color: #333333;
// }

// .fa-solid {
//   font-size: 24px;
// }


// .fa-solid:active::after {
//   color: #6C60FF;
// }

.menu-icon-inactive {
  opacity: 0.2;
}
