.survey {
  box-shadow: unset;
}

.form-select {
  background-image: none;
}

::-webkit-datetime-edit { padding: 1em; border-radius: 50%; }
.round-input {
  border-radius: 20px;
}

.purple-round-button {
  background-color: #7041EE;
  border: none;
  border-radius: 50%;
  color: white;
  height: 64px;
  width: 64px;
}

.purple-round-icon {
  color: white;
  font-size: 18px;
  margin-left: none;
  padding-left:0px;
}

.back-round-button {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  color: white;
  height: 64px;
  width: 64px;
}

.back-round-icon {
  color: #7041EE;
  font-size: 18px;
  margin-left: none;
}

.tag-item {
  display: inline-block;
  padding: 4px;
  color: #7041EE;
}

.tag-selector {
  position: absolute;
  transform: scale(0);
  padding: 8px;
  margin: 10px -10px;
}

.tag-selector + label {
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  border-radius: 50rem;
  padding: 13px;
  color: #7041EE !important;
}


.form-check-label {
  color: #7041EE !important;
  background-color: #F4F0FF;
}

.tag-selector:checked + label {
  background-color: #7041EE;
  color: white !important;
}

.container-body {
  text-align: center;
  // background-color: #ABA5FF;
  min-height: 100vh;
  padding-bottom: 50px;
}

.round-input {
  border-radius: 40px;
  // border: 2px solid #ABA5FF;
  padding: 12px;
  // background-color: #F6F5FF;
  color: #7041EE;
  width: 100%;
  border-style: none;
}

.checkbox-input {
  transform: unset;
  border-style: none;
}

.form-check-input {
  margin-top: 16px;
  margin-left: -12px !important;
}

.no-min-height {
  min-height: unset;
}


// .form-control {
//   padding: 22px 80px 22px 40px;
// }

// .round-input {
//   border-radius: 25px;
//   // border: 2px solid #ABA5FF;
//   padding: 10px;
//   // background-color: #F6F5FF;
//   color: #6C60FF;
//   width: 100%;
// }

// .round-input {
//   border-radius: 20px;
// }

// .round-input:focus {
//   // border-color: #8C84E1;
//   outline: none;
//   width: 300px;
// }

// /* Style the iCalendar labels */
// label.datetime_label {
//   color: #464159;
// }

// /* Style the iCalendar date and time inputs */
// input.datetime.optional {
//   width: 48%;
//   margin-right: 4%;
// }

// /* Style the iCalendar date and time select dropdowns */
// select.datetime.optional {
//   width: 48%;
//   margin-left: 4%;
//   border-radius: 25px;
//   border: 2px solid #ABA5FF;
//   padding: 10px;
//   background-color: #F6F5FF;
//   color: #464159;
// }

// select.datetime.optional:focus {
//   // border-color: #8C84E1;
//   outline: none;
// }


//   /* Target the checkboxes within the accordion */
// #accordionExample input[type="checkbox"] {
//     /* Set the color to purple */
//   color: #7041EE !important;
//     /* Increase the size of the checkbox */
//   transform: scale(1.5);
// }

//   /* Style the checkbox label */
// #accordionExample label {
//     display: block;
// }
